@media screen and (max-width: 960px){
  .el-input {
    width: 100% !important;
  }

  .color-input {
    padding-left: 0% !important;
  }

  .el-aside-select {
    padding-left: 0% !important;
  }
  
  .el-textarea {
    width: 100% !important;
  }

  .el-message-box {
    width: 85% !important;
  }

  .el-footer-text {
    padding-left: 0% !important
  }

  .el-aside-result {
    padding-left: 0% !important;
    width: 100% !important;
  }

  .el-aside-inside-result {
    padding-left: 0% !important;
    width: 100% !important;
  }

  .el-aside-advice {
    padding-left: 0% !important;
    width: 100% !important;
  }

  .el-aside-inside-advice {
    padding-left: 0% !important;
    width:100% !important;
  }

  .el-btn1-nxtselect, .el-btn2-nxtselect {
    margin-left: 10px !important;
  }
}

.margin-l-r {
  margin-left: 5px;
  margin-right: 5px;
}

.el-header {
    background-color: var(--mainColor);
    color: #333;
    text-align: center;
    line-height: 60px;
    height: 45px !important;
}

.el-aside {
    color: white;
    height: 50px;
}

.el-footer {
  background-color: white;
  text-align: center;
  height: 25px !important;
}

.el-footer-text {
  text-align: left;
  width: 100% !important;
  padding-left: 22.5%;
  color: var(--mainColor);
}

.el-aside-select {
  text-align: left;
  width: 100% !important;
  padding-left: 22.5%;
}

.el-aside-result {
  width: 100% !important;
  height: 200px;
  text-align: left;
  padding-left: 22.5%;
}

.el-aside-inside-result {
  height:200px;
  border:1px solid var(--mainColor);
  border-radius:5px;
}

.el-aside-advice {
  width: 100% !important;
  height: 200px;
  text-align: left;
  padding-left: 22.5%;
}

.el-aside-inside-advice {
  height: 200px;
  color: #606266;
  font-size: 18px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
}

body > .el-container {
  margin-bottom: 40px;
}

.color-input {
  width: 55%;
  text-align: left;
  padding-left: 22.5%;
}

.el-select {
  padding-top: 5px;
  width: 125px;
}

.el-btn1-nxtselect {
  margin-left: 50px;
}

.el-btn2-nxtselect {
  margin-left: 10px;
}

.el-input__inner {
  color: white;
  background: var(--mainColor) ;
}

.el-input-group__prepend {
  font-family:Arial,Verdana,Sans-serif;
  color: white;
  background: var(--mainColor) ;
}

.el-input__inner::placeholder {
  color: white;
}

.el-input.is-disabled .el-input__inner{
  background-color: var(--mainColor);
}

.el-textarea__inner {
  font-family:Arial,Verdana,Sans-serif !important;
  padding: 5px 10px;
  font-size: 18px;
  border-color: var(--mainColor);
}

.el-textarea__inner:focus, .el-textarea__inner:hover {
  border-color: var(--mainColor);
}

.el-textarea__inner.is-active, .el-textarea__inner:active {
  border-color: var(--mainColor);
}

.el-textarea {
  word-wrap: break-word;
}

.el-button--small:focus, .el-button--small:hover 
{
  background-color: var(--mainColor);
  border-color: black;
  color: white
}

.el-button--small.is-active, .el-button--small:active {
  background: var(--mainColor);
  border-color: black;
  color: white;
}

.el-message-box {
  width: 420px;
}

.el-button--primary:focus, .el-button--primary:hover 
{
  background-color: var(--mainColor-btn-prm);
  border-color: black;
}

.el-button--primary.is-active, .el-button--primary:active {
  background: var(--mainColor);
  border-color: black;
}

.el-badge__content--primary {
  background-color: var(--mainColor);
}

.el-button--primary {
  background-color: var(--mainColor);
  border-color : white;
}

.el-aside-inside-result {
  font-family:Arial,Verdana,Sans-serif;
  font-size: 18px;
  color: #606266;
}

.p-inside-result {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  word-wrap: break-word;
  line-height: 25px;
}

.footer-none-color {
  background-color: white !important;
  color: #303133;
  font-size: 14px;
}

.alerts_corrections {
  font-family:Arial,Verdana,Sans-serif;
  border-bottom: 3px solid red;
  background-color: #FFAEC8;
  font-weight: 500 !important;
}

.alerts_inspections {
  font-family:Arial,Verdana,Sans-serif;
  border-bottom: 3px solid blue;
  background-color: #7AB4F7;
  font-weight: 500 !important;
}

:root {
  --mainColor: #409EFF;
  --mainColor-btn-prm:  #A4CFFA;
}

.c_color {
  color: var(--mainColor);
}